#formular {
    background-color: cyan;
    text-align: left;
}

#form-wrapper {
    border: solid 1px red;
}

#phys-img {
    border: 1px red solid;
}

#phys-img img {
    height: 300px;
    width: 300px;
}

th {
    border: red 1px solid;
    background-color: white;
}

input {
    margin: 7px;
}

#radio {
    text-align: left;
    display: block;
}