.banner
{
    /*background-image: url("img/bgbanner.jpg");*/
    background-position: 0;
    position: static;
    text-align: center;
    top: 0px;
    font-size: 50px;
    margin: 0;
}

.content
{
    background-color: white;
}

.pgend
{
    background-color: rgb(61, 61, 61);
    font-size: small;
    color:white;
    text-align: center;
    position: relative;
}

.serverstats
{
    border-style: inset;
}

#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    position: static;
}
  
#scroll-text {
    text-align: right;
  
    /* animation properties */
    -moz-transform: translateX(80%);
    -webkit-transform: translateX(80%);
    transform: translateX(80%);
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
}
  
/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(80%); }
    to { -moz-transform: translateX(-100%); }
}
  
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(80%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes my-animation 
{
    from {
        -moz-transform: translateX(80%);
        -webkit-transform: translateX(80%);
        transform: translateX(80%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
}
}