.wrapper { 
    width: 30vw;
    padding: 2.5vw;
    padding-top: 10vw;
    margin: 0 auto;
}

body {
    background-color: black;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    background-image: url(/resources/site/imgs/neko.jpg);
}

input {
    max-width: 15vw;
}

@media screen and (orientation: portrait) {
    .wrapper {
        width: 100vw;
        padding: 2.5vw;
        margin: 0 auto;
    }

    #login-form{
        text-align: center;
    }

    input {
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
}

#login-form {
    background-color: rgb(17, 17 ,17);
    border: 0.25vw solid crimson;
    box-sizing: border-box;
    border-radius: 1vw;
    padding: 1vw;
    color: white;
}

