*
{
    font-family: "Fira Code";
}

body{
    background-image: url(/resources/site/imgs/image.jpg);
}

a
{
    color: rgb(211, 54, 127);

}
.register
{
    color :white;
    position: absolute;
    margin-left: 35vw;
    margin-top: 10vw;
    margin-right: 2;
    
}
.wrapper 
{
    background-color: rgb(17, 17 ,17);
    border: 0.25vw solid crimson;
    box-sizing: border-box;
    border-radius: 1vw;
    padding: 1vw;
    color: white;
    
}

h2
{
    color: rgb(218, 19, 78);
}

.form-control
{
    border: 0.15vw solid crimson;
    border-radius: 1vw;
    box-sizing: border-box;
    position: relative;
    margin-left: 5vw;
}

@media screen and (orientation: portrait) 
{
    .wrapper 
    {
        width: 40vw;
        padding: 2.5vw;
        margin: 0 auto;
    }

    #login-form
    {
        text-align: center;
    }

    input 
    {
        max-width: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
    .form-control
    {
        border: 0.15vw solid crimson;
        border-radius: 1vw;
        box-sizing: border-box;
        position: relative;
        margin-left: 5vw;
        padding-left: 23vw;
    }
    .username
    {
        padding-left: 4vw;
    }

    .password
    {
        padding-left: 4vw;
    }

    .confirmpassword
    {
        padding-left: 4vw;
    }
}

.btn-primary /* submit button */
{
    background-color: white;
    border-radius: 1vw;
    border: 0.2vw solid crimson;
    margin-left: 7vw;    
}

.btn-secondary /* reset button */
{ 
    background-color: white;
    border-radius: 1vw ;
    border: 0.2vw solid crimson;
    margin-left: 0;
}

.username
{
    margin-left: 8.25vw;
}

.password
{
    margin-left: 8.25vw;
}

.confirmpassword
{
    margin-left: 6.25vw;
}